<style>

  #{{ section.id }} {
    text-align: center;
    background: #FFF3F5;
    padding: 40px;
    /*margin: 40px 0 0 0;*/
  }
  
  #{{ section.id }} .main-headline {
    font-family: Caveat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    color: #E26DA7;
  }
  
  #{{ section.id }} .divider {
    padding: 12px 0;
  }
  
  #{{ section.id }} .divider img {
    height: 22px;
  }
  
  #{{ section.id }} .what-is-diamond-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 740px;
    margin: 0 auto;
  }
  
</style>

<div id="{{ section.id }}" class="what-is-diamond-art-section">
  <img src="https://cdn.shopify.com/s/files/1/0610/6444/6179/files/meet_boba_milktea_left.png?v=1650970092" alt="Boba Milktea">
  <div>
    <div class="main-headline">
      <div>
        <img src="https://cdn.shopify.com/s/files/1/0610/6444/6179/files/meet_boba_milktea.png?v=1650969915" alt="Meet Boba Milktea">
      </div>
    </div>
    <div class="divider">
      <img src="https://cdn.shopify.com/s/files/1/0536/0513/8593/files/what-is-diamond-divider.png" alt="" loading="lazy" />
      <img src="https://cdn.shopify.com/s/files/1/0536/0513/8593/files/what-is-diamond-divider.png" alt="" loading="lazy" />
      <img src="https://cdn.shopify.com/s/files/1/0536/0513/8593/files/what-is-diamond-divider.png" alt="" loading="lazy" />
    </div>
    <div class="what-is-diamond-text">
      Everything you need to make 20 servings of delicious premium quality boba tea all in one box! Enjoy your creations for only $2 per serving, and save $60 each month. Wave overpriced boba goodbye!
    </div>
  </div>
  <img src="https://cdn.shopify.com/s/files/1/0610/6444/6179/files/meet_boba_milktea_left.png?v=1650970092" alt="Boba Milktea - Girl">
</div>

{% schema %}
  {
    "name": "Product - What is diamond",
    "settings": [],
    "presets": [
      {
        "name": "Product - What is diamond",
        "category": "Text"
      }
    ]
  }
{% endschema %}
