<style>

  #{{ section.id }} {
    text-align: center;
    background: #FFF3F5;
    padding: 40px;
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #{{ section.id }} .main-headline {
    font-family: Caveat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    color: #E26DA7;
  }

  #{{ section.id }} .main-headline img {
    margin: 0 auto;
  }
  
  #{{ section.id }} .divider {
    padding: 12px 0;
  }
  
  #{{ section.id }} .divider img {
    height: 22px;
  }
  
  #{{ section.id }} .what-is-diamond-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000F1B;
    margin-top: 40px;
    max-width: 532px;
  }
  
  @media only screen and (max-width: 990px){
    #{{ section.id }} {
      margin-top: 0;
    }
  }
  
</style>

<div id="{{ section.id }}" class="what-is-diamond-art-section">
  <div class="show-desktop">
    <img src="https://cdn.shopify.com/s/files/1/0610/6444/6179/files/meet_boba_milktea_left.png?v=1650970092" alt="Boba Milktea">
  </div>
  <div>
    <div class="main-headline">
      <div>
        <img class="show-desktop" src="https://cdn.shopify.com/s/files/1/0610/6444/6179/files/meet_boba_milktea.png?v=1650969915" alt="Meet Boba Milktea">
        <img class="show-mobile" src="https://cdn.shopify.com/s/files/1/0610/6444/6179/files/meet_boba_milktea_mobile.png?v=1650970993" alt="Meet Boba Milktea Mobile">
      </div>
    </div>
    {% comment %} <div class="divider">
      <img src="https://cdn.shopify.com/s/files/1/0536/0513/8593/files/what-is-diamond-divider.png" alt="" loading="lazy" />
      <img src="https://cdn.shopify.com/s/files/1/0536/0513/8593/files/what-is-diamond-divider.png" alt="" loading="lazy" />
      <img src="https://cdn.shopify.com/s/files/1/0536/0513/8593/files/what-is-diamond-divider.png" alt="" loading="lazy" />
    </div> {% endcomment %}
    <div class="what-is-diamond-text">
      Everything you need to make 20 servings of delicious premium quality boba tea all in one box! Enjoy your creations for only $2 per serving, and save $60 each month. Wave overpriced boba goodbye!
    </div>
  </div>
  <div class="show-desktop">
    <img src="https://cdn.shopify.com/s/files/1/0610/6444/6179/files/meet_boba_milktea_right.png?v=1650970092" alt="Boba Milktea - Girl">
  </div> 
</div>

{% schema %}
  {
    "name": "Product - What is diamond",
    "settings": [],
    "presets": [
      {
        "name": "Product - What is diamond",
        "category": "Text"
      }
    ]
  }
{% endschema %}
